@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.footer{
    background-color: #000000;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    
}
.footer-body{
    color: #c2c2c2;
    font-family: 'Righteous', cursive;
}
