@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.nav-link{
    border: solid #005fff 1px;
    color: #000000;
    font-weight: bold;
}
.nav-item{
    border-radius: 4px;
    margin-left: 10px;
}
.nav-bar{
    background: rgb(125,125,125);
    background: linear-gradient(180deg, rgba(125,125,125,1) 0%, rgba(147,147,147,1) 25%, rgba(168,168,168,1) 50%, rgba(195,195,195,1) 75%, rgba(231,231,231,1) 100%);
    border-top: #858585 solid 1px ; 
    border-bottom: #858585 solid 1px ; 
}
.nav-link:hover{
    background-color: #979797;
    color: #ffffff;
}
.nav-item:hover{
    background-color:  #979797;
    border-radius: 3px;
    color: #ffffff;
}
.titulo{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    text-align: center;
}
.header-central,.header-esquina-der,.header-esquina-izq{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 25%, rgba(226,226,226,1) 50%, rgba(210,210,210,1) 75%, rgba(255,255,255,1) 100%);
    padding-top: 3px;
    padding-bottom: 10px;
}
.header-esquina-der{
    border-radius: 0px 20px 0px 0px;
}
.header-esquina-izq{
    border-radius: 20px 0px 0px 0px;
}
.header{
    background-color: #000000;
}