@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.nav-link{
    border: solid #005fff 1px;
    color: #000000;
}
.nav-item{
    border-radius: 4px;
    border: solid #005fff 1px;
    margin-left: 10px;
    background-color: #d1e0fa;
}
.nav-link:hover{
    background-color: #005fff;
    color: #ffffff;
}
.nav-item:hover{
    background-color: #005fff;
    border-radius: 3px;
    color: #ffffff;
}
.titulo{
    font-family: 'Righteous', cursive;
    font-size: 50px;
    text-align: center;
}