@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}
.texto-titulo{
    text-align: center; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    font-size: 30px;
    margin-top: 20px;    
}
#form_forgot_pass{
    border: solid #1414142c 1px;
    border-radius: 20px;
    padding: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    backdrop-filter: blur(20px);
}
.menu-item{
    border: solid #000000 3px;
    border-radius: 20px;
    margin-top: 4px;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 5px;
    background-color:  #5c8404;
}
.menu-item:hover{
    border: solid #FFD700 3px;
}
.menu-item-text{
    color: #000000;
    text-decoration: none;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
}
.menu{
    align-items: center;
    padding: 5px;
}
.enlaces{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.enlaces:hover{
    color: #FFD700;
}
.caja-graficos{
    border: 2px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.filtro-tiempo{
    justify-content: flex-end;
    width: 300px;
}
body{
    background-image: url(../../imagenes/menu/fondo_pagina.png);
}
.home{
    align-items: center;
    padding: 5px;
}
.home-panel{
    border:solid #000000 1px;
    margin: 50px 20px 50px 70px;
    height: 500px;
    padding: 20px;
}
.dispositivo{
    height: 200px;
}
.dispositivo-text{
    font-size: x-large;
}
.dispositivo-titulo{
    font-size: x-large;
    width: min-content;
    margin-top: 1ex;
}
