.texto-titulo{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px;    
}

#form0{
    border: solid #1414142c 1px;
    border-radius: 20px;
    padding: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    backdrop-filter: blur(20px);
}